{% include 'layout.html' %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Fluxo de caixa</h3>
      <p>Saldo inicial: R${{initial_balance | floatformat:2}}</p>
      <table class="table">
        {% for item_result in result %}
          <thead>
            <tr class="text-success">
              <th>Receitas</th>
              <th>Mês: {{item_result.month}}</th>
              <th>Total: R${{item_result.receive_bills.sum_month | floatformat:2}}</th>
            </tr>
            <tr>
              <th>Categorias</th>
              <th  colspan="2">Total por categoria</th>
            </tr>
          </thead>
          <tbody>
            {% for item_category in item_result.receive_bills.sum_categories %}
            <tr>
              <td>{{item_category.category.name}}</td>
              <td  colspan="2">R${{item_category.sum_receives | floatformat:2}}</td>
            </tr>
            {% endfor %} 
          </tbody>
          <thead>
            <tr class="text-danger">
              <th>Despesas</th>
              <th>Mês: {{item_result.month}}</th>
              <th>Total: R${{item_result.pay_bills.sum_month | floatformat:2}}</th>
            </tr>
            <tr>
              <th>Categorias</th>
              <th colspan="2">Total por categoria</th>
            </tr>
          </thead>
          <tbody>
            {% for item_category in item_result.pay_bills.sum_categories %}
            <tr>
              <td>{{item_category.category.name}}</td>
              <td  colspan="2">R${{item_category.sum_pays | floatformat:2}}</td>
            </tr> 
            {% endfor %}
          </tbody>
          {% if item_result.saldo < 0 %}
          <tbody class="text-danger">
            <tr>
              <th colspan="3">Resultado mês: R${{item_result.saldo | floatformat:2}}</th>
            </tr>
          </tbody>
          {% else %}
          <tbody class="text-success">
            <tr>
              <th colspan="3">Resultado mês: R${{item_result.saldo | floatformat:2}}</th>
            </tr>
          </tbody>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>