{% include 'layout.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Contas a receber</h3>
      <form action="{% url 'create_receive_bills' %}" method="POST">{% csrf_token %}
        <div class="form-group">
          <label for="valor">Valor:</label>
          <input type="number" class="form-control" name="valor" id="valor" required step="0.01">
        </div>
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control" name="descricao" id="descricao">
        </div>
        <div class="form-group">
          <label for="dataRecebimento">Data de recebimento:</label>
          <input type="date" class="form-control" name="dataRecebimento" id="dataRecebimento" required>
        </div>
        <div class="form-group">
          <label for="situacao">Situação:</label>
          <select class="form-control" name="situacao" id="situacao">
            {% for item_status in status %}
              <option value="{{item_status.0}}">{{item_status.1}}</option>
            {% endfor %}              
          </select>
        </div>
        <div class="form-group">
          <label for="classificacao">Categoria:</label>
          <select class="form-control" name="classificacao" id="classificacao">
            {% for category in categories %}
              <option value="{{category.id}}">{{category.nome}}</option>
            {% endfor %}              
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Salvar</button>
      </form>
    </div>
  </div>
</div>
  
{% endblock %}
  